<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Web Socket Test</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/style.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="/spaceship.js"></script>
  <script type="text/javascript" src="/enemyship.js"></script>
  <script type="text/javascript" src="/main.js"></script>
</head>
<body>
  <div id="main">
    <canvas id="canvas" width ="1400px" height ="850px">
      <p>Your browser doesn't support HTML5.</p>
    </canvas>
  </div>
</body>
</html>

